/Makefile
/config.log
/config.status
/src/._bcdi/
/src/._d/
/src/constraintLexer.ml
/src/constraintParser.ml
/src/constraintParser.mli
/src/constraintParser.output
/src/miniLexer.ml
/src/miniParser.ml
/src/miniParser.mli
/src/miniParser.output
/src/libmini.cma
/src/mini
/doc/
*.cmi
*.cmo
